h1{
    margin-top: 22px;
    color:yellow;
    font-family: fantasy;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #fffdd9;
    margin-left: 90px;
}

h1{
    margin-top: 22px;
    color:yellow;
    font-family: fantasy;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #fffdd9;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
  

}
input{
    margin-top: 22px;
}
button{
    margin-top: 15px;
    margin-bottom: 15px;
}

#conteudo{
    display: flex; 
    flex-direction: column;
   
   
}

#conteudoTxt{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin-top:20px;
    margin-bottom: 20px;
    width: 750px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;

}
