h1{
    margin-top: 22px;
    color:yellow;
    font-family: fantasy;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #fffdd9;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;

}
input{
    margin-top: 22px;
}
button{
    margin-top: 15px;
    margin-bottom: 15px;
}
#saudacao1{
    margin-left: 700px;
    margin-top: -55px;
    width: 60px;
}
#saudacao2{
    margin-right: 700px;
    margin-top: -60px;
    width: 60px;
}
.form{
    margin-top: 22px;
}

